@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Wet+Paint&display=swap');

:root {
  --green: #1b8511;
  --orange: #e78d17;
  --red: #942424;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

ul,
ol {
  list-style: none;
}

/* HEADER  */

header {
  background-color: aquamarine;
  padding: 20px
}

/* MAIN */

main {
  padding: 20px
}

h3 {
  margin: 10px 0
}

ul>* {
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

li :first-child {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.badge {
  background-color: rgb(231, 125, 4);
  color: white;
  padding: 0.5em;
  border-radius: 10px;
}